.carousel-item {
  display: none;
}

.claseFooter {
  background-color: rgb(112, 216, 114);
  text-align: center;
  color: black;
  height:auto;
}

.UbicacionComplejo {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px black;
}

.Carrusel {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
}

.IntroduccionComplejo p {
   font-size: 15px;
   padding: 15px;
}

.cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(112, 216, 114); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu li {
  display: inline-block;
  margin: 0 15px;
}


.nuestrosServicios {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px black;
  text-align: center;
}

.form {  
  display: flex;
  flex-direction:column;
  border-radius: 15px;
  border: 1px solid black;
  padding: 30px;
  width: 200px;
  gap: 15px;
  background-color: white;
  color: black;
  box-shadow: 0px 5px 0px 0px gray;
}

.enviar {
  display: block;
  width: 200px; 
  margin: 30px auto 0 auto; 
  padding: 12px;
  background-color: rgb(50, 175, 50); 
  color:black;
  border-radius: 4px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.preciosDelComplejo{
  text-align: center;
  width: 300px;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 3px black;
}

.botonReserva {
  display: block;
  width: 100px; 
  margin: 30px auto 0 auto; 
  padding: 12px;
  background-color: rgb(50, 175, 50); 
  color:black;
  border-radius: 4px;
  cursor: pointer;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.menu {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.fotosComplejo{
  background-color: gainsboro;
  text-align: center;
  padding: 40px 0 60px;
}

.tarjeta {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cabaña {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 0 40px;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

.menu {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color:rgb(0, 0, 0)
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color:rgb(34, 117, 34)
}